<p-toast></p-toast>
<main class="main-content">
  <div class="property-image">
    <!-- <p-image
    imageClass="imageProperty"
    [src]="'/assets/images/home.jpg'"
    alt="{{property.name}}"
    [preview]="true"
    ></p-image> -->

      <div *ngIf="images.length > 0;">
        <p-galleria
          [value]="images"
          indicatorsPosition="bottom"
          [showIndicators]="true"
          [showThumbnails]="false"
          [showIndicatorsOnItem]="true"
          [containerStyle]="{'width': '100%', 'min-height': '100%'}">
          >
          <ng-template pTemplate="item" let-item>
            <img [src]="item.imageSrc" style="width: 100%; min-height: 100%;" />
          </ng-template>
        </p-galleria>
      </div>

  </div>
  <div class="property-data">
    <h2>{{ property.name }}</h2>
    <p>{{ property.country }}, {{ property.city }}</p>
    <p>
      <span class="titleBold">latitude </span> {{ property.latitude }}, <span class="titleBold">Longitude:</span> {{ property.longitude }}
    </p>
  
    <p><span class="titleBold">Price:</span> {{ property.price }}</p>
    <p><span class="titleBold">Area:</span> {{ property.area }}</p>
    <p><span class="titleBold">Description:</span> {{ property.description }}</p>
    <p><span class="titleBold">Rooms:</span> {{ property.rooms }}</p>
    <p><span class="titleBold">Bathrooms:</span> {{ property.bathrooms }}</p>
    <p><span class="titleBold">Parking:</span> {{ property.parking }}</p>
    <p><span class="titleBold">Kitchens:</span> {{ property.kitchens }}</p>
    <p><span class="titleBold">Floors:</span> {{ property.floors }}</p>
    <p><span class="titleBold">Owner:</span> {{ property.ownerId }}</p>


    <div class="buttons">
      <p-button (click)="requestProperty()" [loading]="loading" label="Request rent" icon="pi pi-check"></p-button>
      <!-- <button (click)="requestProperty()" class="requestButton">Request Rent</button> -->
    </div>
  </div>
</main>
