body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.property-details {
  display: flex;
  margin-top: 20px;
}

.property-image {
  width: 50%;
  height: 10%;
  overflow: hidden;
}

.imageProperty {
  max-width: 100% !important;
  height: auto !important;
}

.property-data {
  text-align: center;
  flex: 1;
  margin-left: 20px;
}

.property-data p {
  margin: 5px 0;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.requestButton {
  width: 50%;
  margin-top: 10px;
}
