
<main class="main-content">
  <div class="property-image">
    <!-- <p-image
    imageClass="imageProperty"
    [src]="'/assets/images/home.jpg'"
    alt="{{property.name}}"
    [preview]="true"
    ></p-image> -->

      <div *ngIf="images.length > 0">
        <p-galleria
          [value]="images"
          indicatorsPosition="bottom"
          [showIndicators]="true"
          [showThumbnails]="false"
          [showIndicatorsOnItem]="true"
          [containerStyle]="{'width': '100%', 'min-height': '100%'}">
          >
          <ng-template pTemplate="item" let-item>
            <img [src]="item.imageSrc" style="width: 100%; min-height: 100%;" />
          </ng-template>
        </p-galleria>
      </div>

  </div>
  <div class="property-data">
    <h2>{{ property.name }}</h2>
    <p>{{ property.country }}, {{ property.city }}</p>
    <p>
      Latitude: {{ property.latitude }}, Longitude: {{ property.longitude }}
    </p>
    <p>Price: {{ property.price }}</p>
    <p>Area: {{ property.area }}</p>
    <p>Description: {{ property.description }}</p>
    <p>Rooms: {{ property.rooms }}</p>
    <p>Bathrooms: {{ property.bathrooms }}</p>
    <p>Parking: {{ property.parking }}</p>
    <p>Kitchens: {{ property.kitchens }}</p>
    <p>Floors: {{ property.floors }}</p>
    <p>Owner: {{ property.ownerId }}</p>

    <div class="buttons">
      <p-button (click)="requestProperty()" [loading]="loading" label="Request rent" icon="pi pi-check"></p-button>
      <!-- <button (click)="requestProperty()" class="requestButton">Request Rent</button> -->
    </div>
  </div>
</main>
