<footer class="footer">
    <div class="social-links">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <img src="src\assets\icons\facebook.png" alt="Facebook" />
      </a>
      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <img src="src\assets\icons\x.png" alt="Twitter" />
      </a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <img src="src\assets\icons\insta.png" alt="Instagram" />
      </a>
    </div>
    <p>&copy; 2024 Tu Finca Web. Todos los derechos reservados para los espacios en blanco y sin programar.</p>
  </footer>
