<footer class="footer">
    <div class="social-links">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons/facebook.svg" alt="Facebook" />
      </a>
      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons/twitter.svg" alt="Twitter" />
      </a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons/instagram.svg" alt="Instagram" />
      </a>
    </div>
    <p>&copy; 2024 Tu Finca Web. Todos los derechos reservados para los espacios en blanco.</p>
  </footer>
  