<p-toast></p-toast>
<!-- Boton para pasar
<div class="flex pt-4 justify-content-end">
  <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
</div> -->

<!-- Boton para atras y pasar
<div class="flex pt-4 justify-content-between">
                  <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
                  <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
              </div>
              -->

<form [formGroup]="propertyForm" (ngSubmit)="submitProperty()">
<div class="card flex justify-content-center" style="height: 100%">
  <p-stepper [(activeStep)]="active" class="form-container">
      <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
              <button class="bg-transparent border-none inline-flex flex-column gap-2" disabled>
                  <span
                      class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                      [ngClass]="{
                          'bg-primary border-primary': index <= active,
                          'surface-border': index > active
                      }"
                  >
                      <i class="pi pi-user"></i>
                  </span>
              </button>
          </ng-template>

          <ng-template pTemplate="content" let-nextCallback="nextCallback">

            <div class="inputsContainer">
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-info" />
                <input
                  id="nameProperty"
                  type="text"
                  pInputText
                  placeholder="Nombre"
                  formControlName="nameProperty"
                />
              </p-iconField>

              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-map-marker" />
                <input
                  type="text"
                  pInputText
                  placeholder="Ciudad"
                  formControlName="city"
                />
              </p-iconField>

              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-map-marker" />
                <input
                  type="text"
                  pInputText
                  placeholder="Pais"
                  formControlName="country"
                />
              </p-iconField>
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-map" />
                <input
                  type="number"
                  pInputText
                  placeholder="Latitud"
                  formControlName="latitude"
                />
              </p-iconField>
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-map" />
                <input
                  type="number"
                  pInputText
                  placeholder="Longitud"
                  formControlName="longitude"
                />
              </p-iconField>
            </div>

            <div class="mapContainer">
              <app-map
                [latitude]="propertyForm.controls.latitude"
                [longitude]="propertyForm.controls.longitude"
                [city]="propertyForm.controls.city"
                [country]="propertyForm.controls.country"
              />
            </div>
              <div class="flex pt-4 justify-content-end">
                  <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
              </div>
          </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
              <button class="bg-transparent border-none inline-flex flex-column gap-2" disabled>
                  <span
                      class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                      [ngClass]="{
                          'bg-primary border-primary': index <= active,
                          'surface-border': index > active
                      }"
                  >
                      <i class="pi pi-wallet"></i>
                  </span>
              </button>
          </ng-template>
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">

            <div>
              <div class="areaContainer">
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-table" />
                  <input
                    type="number"
                    pInputText
                    placeholder="Area"
                    formControlName="area"
                  />
                </p-iconField>

                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-money-bill" />
                  <input
                    type="number"
                    pInputText
                    placeholder="Precio"
                    formControlName="price"
                  />
                </p-iconField>
              </div>
              <div class="descriptionContainer">
                  <textarea
                    pInputTextarea
                    style="width: 80%"
                    id="float-input"
                    formControlName="description"
                    placeholder="Descripción"
                  >
                  </textarea>
              </div>
            </div>

              <div class="flex pt-4 justify-content-between">
                  <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
                  <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
              </div>
          </ng-template>
      </p-stepperPanel>
      <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
              <button class="bg-transparent border-none inline-flex flex-column gap-2" disabled>
                  <span
                      class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                      [ngClass]="{
                          'bg-primary border-primary': index <= active,
                          'surface-border': index > active
                      }"
                  >
                      <i class="pi pi-info"></i>
                  </span>
              </button>
          </ng-template>
          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
            <div>
              <div class="inputsContainer">
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-eject" />
                  <input
                    type="number"
                    pInputText
                    placeholder="Habitaciones"
                    formControlName="rooms"
                  />
                </p-iconField>
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-exclamation-triangle" />
                  <input
                    type="number"
                    pInputText
                    placeholder="Baños"
                    formControlName="bathrooms"
                  />
                </p-iconField>
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-car" />
                  <input
                    type="number"
                    pInputText
                    placeholder="Parqueaderos"
                    formControlName="parking"
                  />
                </p-iconField>
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-bolt" />
                  <input
                    type="number"
                    pInputText
                    placeholder="Cocinas"
                    formControlName="kitchens"
                  />
                </p-iconField>
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-arrow-circle-up" />
                  <input
                    type="number"
                    pInputText
                    placeholder="Pisos"
                    formControlName="floors"
                  />
                </p-iconField>
              </div>
              <div>
                <div class="card flex justify-content-center">
                  <p-toast />
                  <p-fileUpload
                    name="files[]"
                    customUpload
                    (uploadHandler)="uploadFiles($event)"
                    [multiple]="true"
                    accept="image/*"
                    maxFileSize="1000000">
                    <ng-template pTemplate="content">
                      <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">
                          {{ file.name }} - {{ file.size }} bytes
                        </li>
                      </ul>
                    </ng-template>
                  </p-fileUpload>
                </div>
              </div>
            </div>
            <div class="flex pt-4 justify-content-between">
              <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
              <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
            </div>
          </ng-template>
      </p-stepperPanel>
    <p-stepperPanel>
    <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
      <button class="bg-transparent border-none inline-flex flex-column gap-2" disabled>
                  <span
                    class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                    [ngClass]="{
                          'bg-primary border-primary': index <= active,
                          'surface-border': index > active
                      }"
                  >
                      <i class="pi pi-check"></i>
                  </span>
      </button>
    </ng-template>
    <ng-template pTemplate="content" let-prevCallback="prevCallback">

      <div class="card flex justify-content-center">
        <p-confirmDialog #cd>
          <ng-template pTemplate="headless" let-message>
            <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
              <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <i class="pi pi-question text-5xl"></i>
              </div>
              <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
              <p class="mb-0">{{ message.message }}</p>
              <div class="flex align-items-center gap-2 mt-4">
                <button
                  pButton
                  label="Save"
                  (click)="cd.accept()"
                  class="w-8rem">
                </button>
                <button
                  pButton
                  label="Cancel"
                  (click)="cd.reject()"
                  class="p-button-outlined w-8rem ">
                </button>
              </div>
            </div>
          </ng-template>
        </p-confirmDialog>
        <p-button
          type="submit"
          icon="pi pi-check"
          label="Confirm"
        />
      </div>

      <div class="flex pt-4 justify-content-between">
        <p-button (onClick)="prevCallback.emit()" label="Back" severity="secondary" icon="pi pi-arrow-left" />
      </div>
    </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>
</form>
