
<div class="form-container">
  <form [formGroup]="rentRequestForm" (ngSubmit)="requestRent()">
    <h1>Request Rent</h1>
    <div class="date-fields">
      <p>Start Date</p>
      <!-- <input
        type="date"
        formControlName="dateStart"
        [(ngModel)]="rentRequest.dateStart"
      /> -->
      <p-calendar formControlName="dateStart" [(ngModel)]="rentRequest.dateStart"></p-calendar>
    </div>

    <div class="date-fields">
      <p>End Date</p>
      <!-- <input
        type="date"
        formControlName="dateEnd"
        [(ngModel)]="rentRequest.dateEnd"
      /> -->
      <p-calendar formControlName="dateEnd" [(ngModel)]="rentRequest.dateEnd"></p-calendar>
    </div>

    <!-- <p-inputNumber [(ngModel)]="rentRequest.numPeople" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" decrementButtonClass="p-button-secondary"
    incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
     decrementButtonIcon="pi pi-minus" 
     formControlName="numPeople"
     ></p-inputNumber> -->

    <input
      type="number"
      formControlName="numPeople"
      placeholder="Number of People"
      [(ngModel)]="rentRequest.numPeople"
    />
    <p>Property owner: {{ owner.name }}</p>
    <p>Property to rent: {{ property.name }}</p>
    <p>Country: {{ property.country }}</p>
    <p>City: {{ property.city }}</p>
    <p>Total Price: {{ calculatePrice() }}</p>

    <button type="submit">Request rent</button>
  </form>
</div>
