<p-toast></p-toast>
<div class="form-container">
  <form [formGroup]="rentRequestForm" (ngSubmit)="requestRent()" class="card">
    <h1>Request Rent</h1>
    <div class="date-fields">
      <p class="titleBold"> Start Date</p>
      <!-- <input
        type="date"
        formControlName="dateStart"
        [(ngModel)]="rentRequest.dateStart"
      /> -->
      <p-calendar formControlName="dateStart" [(ngModel)]="rentRequest.dateStart"></p-calendar>
    </div>

    <div class="date-fields">
      <p class="titleBold">End Date</p>
      <p-calendar formControlName="dateEnd" [(ngModel)]="rentRequest.dateEnd"></p-calendar>
    </div>

    <div class="personsContainer">
      <h1 style="text-align: center;">Cantidad de personas</h1>
      <p-inputNumber 
      [style]="{'width': '4rem'}" 
      [(ngModel)]="rentRequest.numPeople" 
      [showButtons]="true" 
      [min]="1"
      buttonLayout="vertical" 
      spinnerMode="vertical" 
      inputId="vertical" 
      decrementButtonClass="incr"
      incrementButtonClass="incr" 
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus" 
      formControlName="numPeople"
     ></p-inputNumber>
    </div>

    <!-- <input
      type="number"
      formControlName="numPeople"
      placeholder="Number of People"
      [(ngModel)]="rentRequest.numPeople"
    /> -->
    <div class="detailsContainer">
      <p> <span class="titleBold">Property owner:</span> {{ owner.name }}</p>
      <p> <span class="titleBold">Property to rent:</span> {{ property.name }}</p>
      <p> <span class="titleBold">Country:</span> {{ property.country }}</p>
      <p> <span class="titleBold">City:</span> {{ property.city }}</p>
      <p> <span class="titleBold">Total Price:</span> {{ calculatePrice() }}</p>
    </div>

    <button type="submit">Request rent</button>
  </form>
</div>
