/* Restablece los márgenes y paddings globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para la barra de búsqueda */
section {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

section input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilos para el contenedor principal */
main {
  overflow-y: auto;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
}

/* Contenedor principal vertical para las secciones de rentas y solicitudes */
.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilos generales para las secciones de rentas y solicitudes */
.rent-section,
.request-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Contenedores desplazables horizontalmente */
.horizontal-scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 15px; /* Espacio entre tarjetas */
  padding: 10px; /* Espacio alrededor de los elementos */
}

/* Ocultar barra de desplazamiento en navegadores basados en WebKit (Chrome, Safari, Opera GX) */
.horizontal-scroll-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* También se puede usar display: none; */
}

/* Ocultar barra de desplazamiento en Firefox */
.horizontal-scroll-container {
  scrollbar-width: none; /* Firefox */
}

/* Configuración de la cuadrícula para las tarjetas de rentas y solicitudes */
.rent-grid,
.request-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px; /* Espacio entre tarjetas */
}

/* Estilos para las tarjetas de renta y solicitudes de renta */
.rent-card,
.request-card {
  flex: 1 1 300px; /* Crecen para ocupar espacio pero no menos de 300px */
  max-width: 350px; /* Ancho máximo para las tarjetas */
  max-height: 500px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: border 300ms ease-in-out;
  background: var(--surface-card);
}

.rent-card:hover,
.request-card:hover {
  border: 2px solid blue;
}

.highlight-border {
  border: 2px solid blue;
}

.flex-container {
  display: flex;
  flex-direction: column; 
}

.info-container {
  padding: 5px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

button {
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.rent-card h2,
.request-card h2 {
  text-align: center;
}

.request-info,
.rent-info {
  padding: 24px;
}
