<p-toast></p-toast>
<main>
  <div class="vertical-container">
    <div class="rent-section">
      <h1>Rentas</h1>
      <div class="horizontal-scroll-container">
        <div *ngIf="rents.length > 0; else noRents" class="rent-grid">
          <div *ngFor="let rent of rents; let i = index" class="rent-card">
            <div class="rent-info">
              <h2>Renta N°{{ i + 1 }}</h2>
              <p>Propiedad: {{ rent.propertyId }}</p>
              <p>Solicitante: {{ rent.renterId }}</p>
              <p>Fecha de inicio: {{ rent.dateStart }}</p>
              <p>Fecha de fin: {{ rent.dateEnd }}</p>
              <p>Número de personas: {{ rent.numPeople }}</p>
              <p>Estado: {{ getRentStatus(rent) }}</p>
              <p>Precio: {{ rent.price }}</p>
              <p>Pago: {{ rent.payment }}</p>
            </div>
            <div class="ratingContainer">
              <button [disabled]="setButtonsStatus(rent)" (click)="cancelRent(rent)" class="cancel-button" data-text="Cancelar renta" data-hover-text="✘">
                <!-- El contenido del botón estará vacío -->
              </button>
              <br />
              <p>Califica esta renta</p>
              <p-rating [(ngModel)]="ratingValues[i]" (onRate)="onChangeRating(rent, i)" [cancel]="false" />
            </div>
          </div>
        </div>
        <ng-template #noRents>
          <p>Finding rents...</p>
        </ng-template>
      </div>
    </div>

    <div class="request-section">
      <h1>Solicitudes de Rentas</h1>
      <div class="horizontal-scroll-container">
        <div *ngIf="requestsToRender.length > 0; else noRequests" class="request-grid">
          <div *ngFor="let request of requestsToRender; let i = index" class="request-card">
            <div class="request-info">
              <h2>Solicitud De Renta N°{{ i + 1 }}</h2>
              <p>Propiedad: {{ request.propertyId }}</p>
              <p>Solicitante: {{ request.renterId }}</p>
              <p>Fecha de inicio: {{ request.dateStart }}</p>
              <p>Fecha de fin: {{ request.dateEnd }}</p>
              <p>Número de personas: {{ request.numPeople }}</p>
              <p>Precio: {{ request.price }}</p>
              <p>Estado: {{ getApproval(request) }}</p>
            </div>
            <button [disabled]="request.approval !== approval.INPROCESS" (click)="acceptRequest(request)" class="accept-button" data-text="Aceptar" data-hover-text="✔">
              <!-- El contenido del botón estará vacío -->
            </button>
            <button [disabled]="request.approval !== approval.INPROCESS" (click)="rejectRequest(request)" class="reject-button" data-text="Rechazar" data-hover-text="✘">
              <!-- El contenido del botón estará vacío -->
            </button>
          </div>
        </div>
        <ng-template #noRequests>
          <p>Finding rent requests...</p>
        </ng-template>
      </div>
    </div>
  </div>
</main>
