/* Restablece los márgenes y paddings globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el contenedor del body y el main */
body, html {
  overflow: hidden;
  height: 100%;
}

main {
  height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
}

/* Contenedor principal vertical */
.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Secciones de rentas y solicitudes */
.rent-section,
.request-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

/* Contenedor con scroll horizontal */
.horizontal-scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 15px;
  padding: 10px;
  height: 100%;
}

.horizontal-scroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.horizontal-scroll-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

/* Estilos para las tarjetas de renta y solicitudes de renta */
.rent-grid,
.request-grid {
  display: flex;
  flex-direction: row; /* Cambiar a disposición horizontal */
  gap: 15px; /* Espacio entre las tarjetas */
}

.rent-card,
.request-card {
  flex: 1 1 auto;
  max-width: 300px;
  max-height: 500px;
  min-height: 350px;
  min-width: 300px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: border 300ms ease-in-out;
  background: var(--surface-card);
}

.rent-card:hover,
.request-card:hover {
  border: 2px solid blue;
}

.highlight-border {
  border: 2px solid blue;
}

.rent-card h2,
.request-card h2 {
  text-align: center;
}

.request-info,
.rent-info {
  padding: 25px;
}

/* Estilos de los botones */
button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
  min-width: 120px; /* Ancho mínimo del botón */
  min-height: 36px; /* Altura mínima del botón */
}

button:hover {
  transform: scale(1.05);
}

button.cancel-button:hover {
  background-color: red;
}

button.accept-button:hover {
  background-color: green;
}

button.reject-button:hover {
  background-color: red;
}

button:disabled {
  background-color: #ccc;
}

button.cancel-button.clicked {
  animation: changeToRed 1s forwards;
  background-color: red;
}

button.accept-button.clicked {
  animation: changeToGreen 1s forwards;
  background-color: green;
}

button.reject-button.clicked {
  animation: changeToRed 1s forwards;
  background-color: red;
}

@keyframes changeToRed {
  from {
    background-color: dodgerblue;
  }
  to {
    background-color: red;
  }
}

@keyframes changeToGreen {
  from {
    background-color: dodgerblue;
  }
  to {
    background-color: green;
  }
}

/* Cambiar texto al pasar el mouse por encima */
button::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

button.cancel-button:hover::after {
  content: attr(data-hover-text);
}

button.accept-button:hover::after {
  content: attr(data-hover-text);
}

button.reject-button:hover::after {
  content: attr(data-hover-text);
}

button.cancel-button.clicked::after {
  content: '✘';
}

button.accept-button.clicked::after {
  content: '✔';
}

button.reject-button.clicked::after {
  content: '✘';
}

button.cancel-button.clicked,
button.accept-button.clicked,
button.reject-button.clicked {
  color: white;
}

button.cancel-button,
button.accept-button,
button.reject-button {
  transition: background-color 1s ease;
}

button.accept-button {
  margin-right: 10px;
}
