<div  data-aos="fade-right" data-aos-duration="1500">
  <div class="card flex justify-content-center">
    <span class="p-float-label" style="width: 30%">
        <input pInputText id="username" class="searchBox"/>
        <label for="username">Busqueda</label>
    </span>
  </div>

  <main>
    <div *ngIf="properties.length > 0; else noProperties" class="property-grid">

      <div *ngFor="let property of properties" class="card flex justify-content-center property-card">
        <div class="flex-container">
          <!-- Sección de la imagen -->
          <div class="image-container">
            <img alt="Card" src="{{property.imageURL}}" />
          </div>
          <!-- Sección del contenido -->
          <div class="content-container">
            <h2 class="property-title" style="text-align: center;">{{ property.name }}</h2>
            <div class="property-details" style="text-align: left;">
              <p>País: {{ property.country }}</p>
              <p>Ciudad: {{ property.city }}</p>
              <p>{{ property.description }}</p>
            </div>
            <p-button class="centered-btn" (click)="viewProperty(property)" label="See more" icon="pi pi-check"></p-button>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noProperties>
      <p>Finding properties...</p>
    </ng-template>
  </main>

</div>
