/* Restablece los márgenes y paddings globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para la barra de búsqueda */
section {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

section input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Estilos para el contenedor principal */
main {
  overflow-y: auto;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
}

/* Estilos para la cuadrícula de propiedades */
.property-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 20px;
}

/* Estilos generales de las tarjetas de propiedad */
.property-card {
  display: flex;
  flex-direction: row; /* Cambiado de column a row */
  overflow: hidden;
  margin: 1px;
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
  border: 1px solid transparent;
  transition: border 300ms ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.property-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border: 3px solid dodgerblue;
}

.property-card img {
  width: 100%;
  height: auto;
}

/* División del contenido de la tarjeta */
.flex-container {
  display: flex;
  width: 100%;
}

.image-container {
  flex: 3;  /* Ajustar según la proporción deseada */
  padding: 5px;
}

.content-container {
  flex: 2;  /* Ajustar según la proporción deseada */
  padding: 5px;
  text-align: left;
}

.property-title {
  margin-bottom: 10px; /* Espacio debajo del título */
}

.property-details {
  text-align: left; /* Asegura que los detalles estén alineados a la izquierda */
  margin-left: 20px; /* Aumenta el margen izquierdo para separar del título */
}

.centered-btn {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  width: 100%;
}

.property-card p, .property-card h2 {
  margin: 0;
  padding: 2px 0;
}

.card { 
  background: var(--surface-card);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  width: 100%;
  height: 30px;
  padding: 9px;
}

.centered-btn {
  padding: 10px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 300ms ease;
}