/* Restablece los márgenes y paddings globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para la barra de búsqueda */
section {
  display: flex;
  justify-content: center; /* Centra la barra de búsqueda */
  padding: 10px;
  width: 100%; /* Ocupa todo el ancho */
  /*margin-top: 60px;*/
  /*
  Ajusta la altura según la altura del header,
  (Galindo) Es porque el header y el footer estaban mal cuadrados,
  ya lo arregle pero evita ponerle margenes a los componentes
  muchas veces cuando uno le pone el margin se descuadran muchas cosas
  cuando esta trabajando con flex o algo así, o para muchas pantallas se va a descuadrar
  Usa padding si necesitas espacio
  */

}

section input {
  width: 70%; /* Ajusta el ancho del input según tus necesidades */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del input */
}

/* Estilos para el contenedor principal */
main {
  overflow-y: auto;
  padding: 10px;
  margin: 0; /* Elimina el margen */
  flex-grow: 1; /* Hace que el main ocupe todo el espacio restante */
  /*padding-bottom: 60px; /* Añade espacio inferior para evitar que el footer tape el área scrolleable */
}

/* Estilos para la cuadrícula de propiedades */
.property-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columnas */
  gap: 5px;
  padding: 20px; /* Padding interno de la cuadrícula */
}

/* Estilos para las tarjetas de propiedad */
.property-card {
  display: flex;
  flex-direction: column; /* Ordena los elementos verticalmente */
  overflow: hidden;
  margin: 5px; /* Ajusta el margen */
  padding: 5px; /* Ajusta el padding interno */
  text-align: center;
  font-size: 0.8em; /* Ajusta el tamaño de la fuente */
}

.property-card img {
  width: 100%; /* Imagen ocupa todo el ancho */
  height: auto;
}

.property-card .property-info {
  padding: 10px; /* Ajusta el padding interno de la información */
  text-align: center;
}


/* Ajusta el espacio entre las palabras en las tarjetas */
.property-card h2,
.property-card p {
  margin: 0; /* Quita espacio adicional */
}

.p-card-body {
  width: 100%;
}

.searchBox {
  width: 50%;
  height: 40px;
  padding: 10px;
}


.card {
  background: var(--surface-card);
  padding: 1rem; /* Ajusta el padding */
  border-radius: 5px; /* Ajusta el border-radius para hacer las tarjetas más cuadradas */
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
