.form-container {
    width: 100%;
    max-width: 400px; /* Maximum width for the form */
    margin: 7% auto; /* Horizontally centered with 50px margin on top and bottom */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

.account-fields,
.amount-fields {
    margin-bottom: 20px;
}

.account-fields p,
.amount-fields p {
    margin: 0;
}

select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff; /* Blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Color change when hovering */
}