<!-- main.component.html -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
  </div>
  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" formControlName="phone">
  </div>
  <div>
    <label for="photo">Photo:</label>
    <input type="text" id="photo" formControlName="photo">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
  </div>
  <button type="submit">Submit</button>
</form>
