.formContainer {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .userForm {
    display: flex;
    flex-direction: column;
  }
  
  .sendButton {
    border-radius: 50px;
    margin: 10px;
  }
  
  mat-form-field {
    margin: 10px;
  }
  
  .registerMessage {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .advise {
    padding: 50px;
    margin: 0;
    font-weight: 600;
    font-size: 100px;
    background: linear-gradient(to right, #0b3770, #2461ef);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }