<div id="navbar-container">
  <nav>
    <h2>
      <a routerLink="/team" class="link">Team</a>
      <a routerLink="/project" class="link">Project</a>
      <a routerLink="/contactUs" class="link">Contact us</a>
      <a routerLink="/requirements" class="link">Requirements</a>
      <a routerLink="/p_architecture" class="link">Architecture</a>
      <a routerLink="/develop" class="link">Develop</a>
      <a routerLink="/tests" class="link">Tests</a>
      <a routerLink="/deployment" class="link">Deployment</a>
    </h2>
  </nav>
</div>
