.date-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .date-fields p {
    margin-bottom: 5px;
  }
  
  .date-fields input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form p {
    margin-bottom: 10px;
  }
  
  form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }